body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('taj.jpg'); /* Add the correct path to your image */
    background-size: cover;
    background-position: center;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for better readability */
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
}

section {
    margin-bottom: 20px;
    color: #333; /* Set text color for sections */
}

h2 {
    color: #333;
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for better readability */
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button-container {
    display: flex;
  }
  .btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }